<ul class="pagination">
   {% if pagination.isFirstPage == false %}    
        <li class="first"><a href="{{ paginate_path(route, pagination.getFirstPage, parameters) }}">&laquo;</a></li>
        <li class="previous"><a href="{{ paginate_path(route, pagination.getPreviousPage, parameters) }}">&lsaquo;</a></li>
   {% endif %}
   {% for page in pagination.getPages %}
      {% if page == pagination.getPage %}
        <li class="selected">
            <b>{{ page }}</b>
        </li>      
      {% else %}
        <li>
            <a href="{{ paginate_path(route, page, parameters) }}">{{ page }}</a>
        </li>
      {% endif %}
   {% endfor %}  
   {% if pagination.isLastPage == false %}
        <li class="next"><a href="{{ paginate_path(route, pagination.getNextPage, parameters) }}">&rsaquo;</a></li>
        <li class="last"><a href="{{ paginate_path(route, pagination.getLastPage, parameters) }}">&raquo;</a></li>
   {% endif %}
</ul>
