
<h1>Nilopc\PaginationBundle Example</h1>

	{% if pagination.isPaginable %}
	   {{ paginate(pagination, 'pagination_doctrine') }}
	{% endif %}

	{% for item in pagination.getResults %}
	   <p>{{ item }}</p>
	{% endfor %}

	{% if pagination.isPaginable %}
	   {{ paginate(pagination, 'pagination_doctrine') }}
	{% endif %}