.pagination
{ 
    list-style: none;
    
    margin: 0px;
    
    padding: 0px;
}

.pagination li
{
    display: inline;
        
    padding: 0px;
    
    margin-right: 5px;
}

.pagination a, 
.pagination b
{
    color: #aaa;
    
    text-decoration: none;
}

.pagination a:hover,
.pagination b
{
    color: #ff9346;
}