.pagination
{ 
    list-style: none;

    margin: 0px;

    padding: 0px;
}

.pagination:after 
{
    content: ".";
    display: block;
    height: 0;
    clear: left;
    visibility: hidden;
}

.pagination li
{
    float: left;

    padding: 0px;

    margin-right: 5px;
}

.pagination a, 
.pagination b
{
    color: #fff;

    display: block;

    padding: 5px;

    text-decoration: none;

    font-weight: normal;

    background-color: #ccc;

    border: 1px solid #aaa;

    border-radius: 5px;
}

.pagination a:hover,
.pagination b
{
    background-color: #ff9346;
}